@import url('https://fonts.googleapis.com/css2?family=DM+Sans:ital,opsz,wght@0,9..40,100..1000;1,9..40,100..1000&display=swap');
@import 'tailwindcss';
@plugin "@tailwindcss/typography";

@custom-variant dark (&:where(.dark, .dark *));

@theme {
  --font-sans: 'DM Sans', ui-sans-serif, system-ui, sans-serif;
  --text-2xs: .625rem;
}

.tox-tinymce {
  border: 1px solid #d1d5dc !important;
}

.dark .tox-tinymce {
  border: 1px solid #374151 !important;
}

.tox-editor-header{
  border-bottom: 1px solid #d1d5dc !important;
  box-shadow: none !important;
}

.dark .tox-editor-header{
  border-bottom: 1px solid #374151 !important;
}

.tox-statusbar{
  height: auto !important;
  padding: 6px 14px !important;
}