@import 'tailwindcss';
@plugin "@tailwindcss/typography";

@custom-variant dark (&:where(.dark, .dark *));

@theme {
  --text-2xs: .625rem;
}

.tox-tinymce {
  border: 1px solid #d1d5dc !important;
}

.dark .tox-tinymce {
  border: 1px solid #374151 !important;
}

.tox-editor-header{
  border-bottom: 1px solid #d1d5dc !important;
  box-shadow: none !important;
}

.dark .tox-editor-header{
  border-bottom: 1px solid #374151 !important;
}

.tox-statusbar{
  height: auto !important;
  padding: 6px 14px !important;
}